<ion-view title="Adicionar um comentário" id="page20" style="background-color:rgb(0,112,253);">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/vbYSj0uGQ1KwnrQ3MfxQ_chat.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <form id="adicionarUmComentRio-form5" class="list">
            <label class="item item-input" id="adicionarUmComentRio-input10">
                <span class="input-label">Comentário</span>
                <input type="text" placeholder="Digite o seu comentário aqui" id="contComent">
            </label>
            <ion-item class="item-icon-left energized" id="adicionarUmComentRio-list-item25">
                <span class="item-note">Dê sua nota</span>
                <script src="js/funcoes.js"></script>

            <a href="javascript:void(0)" onclick="Avaliar(1)">
                <img src="img/star0.png" id="s1"></a>

            <a href="javascript:void(0)" onclick="Avaliar(2)">
                <img src="img/star0.png" id="s2"></a>

            <a href="javascript:void(0)" onclick="Avaliar(3)">
                <img src="img/star0.png" id="s3"></a>

            <a href="javascript:void(0)" onclick="Avaliar(4)">
                <img src="img/star0.png" id="s4"></a>

            <a href="javascript:void(0)" onclick="Avaliar(5)">
                <img src="img/star0.png" id="s5"></a>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 23px;"></div>
            <a onclick="SendComent()" id="sejaPRO-button19" style="border-radius:100px 100px 100px 100px;" class="button button-block">+</a>
        </form>
    </ion-content>
</ion-view>