<ion-view title="Biblioteca" hide-back-button="true" id="page10" style="background-color:rgb(0,112,253);" align="center">
    <ion-content padding="true" class="has-header">
        <form id="biblioteca-form4" class="list">
            <label class="item item-input" id="biblioteca-search1" name="procurar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Procure um livro">
            </label>
        </form>
        <ion-list id="biblioteca-list5">
            <ion-item class="item-icon-left item-icon-right" id="biblioteca-list-item5">
                <i class="icon ion-calendar"></i>Recentes
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div>
            <iframe src="recentes.html" width="100%" height="200" border="0"></iframe>
        </div>

        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <ion-list id="biblioteca-list6">
            <ion-item class="item-icon-left item-icon-right" id="biblioteca-list-item6">
                <i class="icon ion-social-buffer"></i>Todas categorias
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div>
            <iframe src="categorias.html" width="100%" height="200" border="0"></iframe>
        </div>
        
        <ion-list id="biblioteca-list6">
            <ion-item class="item-icon-left item-icon-right" id="biblioteca-list-item6">
                <i class="icon ion-flag"></i>Nacional
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 16px;"></div>

        <div>
            <iframe src="nacionais.html" width="100%" height="250" border="0"></iframe>
        </div>
    </ion-content>
</ion-view>
