<ion-view title="Cadastrar um livro" id="page30" style="background-color:rgb(0,112,253);">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/I53rh8unRgO5mnzVyEI8_upload-text-book.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item>
            <ion-label fixed style="font-weight:bold;">Selecione a capa</ion-label>
            <input type="file" id="btnimg" name="btnimg">
        </ion-item>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item>
            <ion-label fixed>Selecione o arquivo PDF</ion-label>
            <input type="file" id="btnarq" name="btnarq">
        </ion-item>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item>
            <ion-label fixed>Escreva a sinopse do seu livro</ion-label>
            <textarea name="sin0" class="form-control" rows="8" id="sin"></textarea>
        </ion-item>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <button id="cadastrarUmLivroPRO-button22" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block">Enviar</button>
    </ion-content>
</ion-view>