<ion-view title="Introdução" hide-nav-bar="true" id="page8">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider4" delegate-handle="slider4" id="introduO-slider4" style="width:100%;height:100%;">
            <ion-slide-page id="introduO-slide215" style="background-color:#515ADA;">
                <div style="display:table;width:100%;height:100%;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;vertical-align:middle;">
                            <div>
                                <img src="img/8GEPeQXuRIuqsiGmScV9_books.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="spacer" style="width: 320px; height: 45px;"></div>
                            <h3 id="introduO-heading6" style="color:#FFFFFF;font-weight:400;text-align:center;">Seja bem vindo ao ProDing</h3>
                            <div id="introduO-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
                                <p style="color:#FFFFFF;">Leia seus livros favoritos onde e quando quiser, fique à vontade a nossa biblioteca virtual.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page id="introduO-slide216" style="background-color:#5BAF59;">
                <div style="display:table;width:100%;height:100%;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;vertical-align:middle;">
                            <div>
                                <img src="img/VUotIHU5R0mm8xCnGqqB_menu.png" style="display: block; width: 29%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div>
                                <img src="img/8VhoEpBARiu02zZVhKfP_hand-finger-pressing-a-circular-ring-button.png" style="display: block; width: 29%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="spacer" style="width: 320px; height: 30px;"></div>
                            <h3 id="introduO-heading7" style="color:#FFFFFF;font-weight:400;text-align:center;">Vamos lá...</h3>
                            <div id="introduO-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                                <p style="color:#FFFFFF;">Para ter acesso as variadas opções de menu clique no ícone como mostra a imagem acima.</p>
                            </div>
                            <div class="spacer" style="width: 320px; height: 45px;"></div>
                            <div align="center">
                                <a ui-sref="login()" id="introduO-button5" style="border-radius:600px 600px 600px 600px;" class="button button-light button-outline icon-left ion-android-share">Pular tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page id="introduO-slide217" style="background-color:#EB3A3A;">
                <div style="display:table;width:100%;height:100%;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;vertical-align:middle;">
                            <div>
                                <img src="img/XTuRfpv1QFSdtPw6WzHU_ebook.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="spacer" style="width: 320px; height: 38px;"></div>
                            <h3 id="introduO-heading9" style="color:#FFFFFF;font-weight:400;text-align:center;">Que tal ler Offline?</h3>
                            <div id="introduO-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
                                <p style="color:#FFFFFF;">Vai sair e está sem internet? Baixe o seu livro favorito clicando no ícone de
                                    <strong>download</strong> na pagina de leitura e leia onde quiser!</p>
                            </div>
                            <div class="spacer" style="width: 320px; height: 44px;"></div>
                            <div align="center">
                                <a ui-sref="login()" id="introduO-button6" style="border-radius:600px 600px 600px 600px;" class="button button-light button-outline icon-right ion-android-share">Pular tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page id="introduO-slide220" style="background-color:#D33CC1;">
                <div style="display:table;width:100%;height:100%;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;vertical-align:middle;">
                            <div>
                                <img src="img/7IH1xE7LSxqxoBym0Wed_pro.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="spacer" style="width: 320px; height: 38px;"></div>
                            <h3 id="introduO-heading11" style="color:#FFFFFF;font-weight:400;text-align:center;">Seja PRO</h3>
                            <div id="introduO-markdown8" class="show-list-numbers-and-dots">
                                <p style="color:#FFFFFF;">Você é um escritor? Sendo
                                    <strong>PRO</strong> você pode publicar seus livros e ganhar reconhecimento. Que tal?</p>
                            </div>
                            <div class="spacer" style="width: 320px; height: 44px;"></div>
                            <div align="center">
                                <a align="" ui-sref="login()" id="introduO-button7" style="border-radius:600px 600px 600px 600px;" class="button button-light button-outline icon-right ion-android-share">Pular tutorial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page id="introduO-slide221" style="background-color:#EE266E;">
                <div style="display:table;width:100%;height:100%;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;vertical-align:middle;">
                            <div>
                                <img src="img/cUxobLzSSu6eiCLTXvdU_confetti.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
                            </div>
                            <div class="spacer" style="width: 320px; height: 38px;"></div>
                            <h3 id="introduO-heading12" style="color:#FFFFFF;font-weight:400;text-align:center;">Você está pronto!</h3>
                            <div id="introduO-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
                                <p style="color:#FFFFFF;">Pronto, agora você pode usufruir da biblioteca virtual como quiser.
                                    <strong>Bom proveito</strong>!</p>
                            </div>
                            <a ui-sref="login()" id="introduO-button9" class="button button-royal button-block">Fazer login</a>
                            <a ui-sref="cadastreSe()" id="introduO-button10" class="button button-royal button-block">Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>