<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:rgb(42,85,211);">
        <ion-content padding="true" style="top:0px !important;" class="side-menu-left ">
            <div>
                <img src="img/FKrWxte8Sqi4H21wRtOk_proding.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
            </div>
            <div id="menu-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">Olá,
                    <strong><span id="usuarioLogado">...</span></strong>, seja bem-vindo!</p>
            </div>
            <a ui-sref="menu.biblioteca()" menu-close="" id="menu-button13" style="border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-bookmarks-outline">Biblioteca</a>
            <a ui-sref="menu.perfilDoUsuRio()" menu-close="" id="menu-button12" style="border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-contact">Perfil</a>
            <a ui-sref="menu.favoritos()" menu-close="" id="menu-button14" style="border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-ios-cloud-download">Meus downloads</a>
            <a ui-sref="menu.personalizaO()" menu-close="" id="menu-button16" style="border-radius:100px 100px 100px 100px;" class="button button-stable button-block icon-left ion-tshirt-outline">Personalização</a>
            <a ui-sref="menu.cadastralivro()" menu-close="" id="menu-button17" style="border-radius:100px 100px 100px 100px;" class="button button-energized button-block icon-left ion-paper-airplane">Cadastre seu livro</a>
            <a ui-sref="menu.sejaPRO()" menu-close="" id="menu-button15" style="border-radius:100px 100px 100px 100px;" class="button button-balanced button-block icon-left ion-android-star">Seja PRO</a>
            <div class="spacer" style="width: 220px; height: 60px;"></div>
            <a ui-sref="login()" menu-close="" id="menu-button18" style="border-radius:100px 100px 100px 100px;" class="button button-assertive button-block">Sair</a>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>