<ion-view title="Perfil do usuário" id="page11" style="background-color:rgb(0,112,253);">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/GFF6qB57R1SvfmEx8eMU_user1.png" style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card" id="perfilDoUsuRio-card21">
            <ion-item class="item-icon-left" id="perfilDoUsuRio-list-item3">
                <i class="icon ion-ios-contact-outline"></i><span id="namex">Nome completo do usuário</span></ion-item>
            <ion-item class="item-icon-left" id="perfilDoUsuRio-list-item4">
                <i class="icon ion-email"></i><span id="emailx">E-mail do usuário</span></ion-item>
        </div>
    </ion-content>
</ion-view>